{% extends 'base.html' %}

{% block content_title %}Número de Credenciados{% endblock %}
{% block box_title %}Total{% endblock %}

{% block box_body %}
<section>
	<table class="table table-striped table-hover">
		<tr><th>Jogadores Cadastrados:</th> <td>{{ num_jogadores }}</td></tr>
		<tr><th>Espectadores Presentes:</th> <td>{{ num_espectadores }}</td></tr>
		<tr><th>Jogadores Presentes:</th> <td>{{ num_jogadores_presentes }}</td></tr>
		<tr><th>Jogadores que querem Quentinha:</th> <td>{{ num_jogadores_quentinha }}</td></tr>
		<tr><th>Espectadores que querem Quentinha:</th> <td>{{ num_espectadores_quentinha }}</td></tr>
		<tr><th>Total de Pessoas Cadastradas:</th> <td>{{ num_total_participantes }}</td></tr>
		<tr><th>Total de Pessoas Presentes:</th> <td>{{ num_total_participantes_presentes }}</td></tr>
		<tr><th>Total de Quentinhas Pedidas:</th> <td>{{ num_total_quentinhas }}</td></tr>
	</table>
</section>
{% endblock	 %}
 